*{
	box-sizing: border-box;
}
body{
	font-family: Arial;
	padding: 20px;
	background: #f1f1f1;
}
@media all and (max-width: 900px){
	header{
		font-size: 100%;
	}
	.left-column{
		width: 100%;
		padding-right: 0px;
	}
	.middle-column{
		width: 100%;
	}
	.right-column{
		width: 100%;
		padding-left: 0px;
	}
}
.social{
	width: 25px;
	height: 25px;
}
.professional-picture{
	background: #aaa;
	width: 100%;
	padding: 5%;
	border-radius: 4px;
	animation-name: rotate-image;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: 2;
}
article, nav{
	background: white;
	padding: 10px;
	margin-top: 20px;
	border-radius: 4px;
}
.option{
	color: black;
	text-decoration: none;
}
footer{
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
	border-radius: 4px;
}
main:after{
	content: "";
	display: table;
	clear: both;
}
.line-space{
	line-height: 1.6em;
}
@keyframes rotate-image{
	50% {
		transform: translateZ(-10px) rotateX(60deg) rotateZ(29deg) rotateY(-180deg);
	}
}